@charset "UTF-8";

/*
    em HTML é id = CSS é #
    em HTML é class = CSS é .
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: beige;
    font-family: 'Roboto', Arial, sans-serif;
    }

h1{
    color: maroon;
}

h1#master {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    color: brown;
}

p {
    text-align: justify;
    text-indent: 2em;
}

.basico {
    color: green;
}

.intermediario {
    color: indianred;
}

.avancado {
    color: blueviolet;
}

.destaque {
    background-color: rgb(253, 253, 127);
}